/***************DS Portfolio Style Sheet***************/
/*************** Authored by Jack Roach ***************/
body{
    margin: 0px auto;
    width: 100%;
    /*
    border-left: 1px solid red;
    border-right: 1px solid red;
    */
}
body {
    /*background-color: pink;
    background: rgb(0, 24, 72);*/
    background-image: linear-gradient(lightblue);
    font-family: arial;
}
h1 {
    
    /*text-shadow: 0 0 2px black;*/
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    /*-webkit-text-stroke: 2px black;*/
}

/********** Sidebar **********/

#sidebar {
    margin: 0px;
    float: left;
    background-color: rgb(29,41,81);
    width: 35%;
    height: 100%;
}

#sidebar h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 300%;
    margin-top: 10%;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #bcd6ff;
    border: 5px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 5%;
}

#intro p {
    border: 1px hidden white;
    margin: 0 auto;
    text-align: center;
    font-size: 105%;
    color: white;
    text-shadow: 1px 1px 2px black;
}

/********** Main Body of the Site **********/

#main {
    margin: 0px;
    float: left;
    /*background-image: radial-gradient(greenyellow, palegreen, paleturquoise, lightblue 70%);*/
    background-image:linear-gradient(white,#bcd6ff,rgb(29,41,81)); /*linear-gradient(pink, rgb(253,253,158));*/
    width: 65%;
    height: 100%;
}

#main h1 {
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(29,41,81);
    border-style: hidden hidden solid hidden;
    border-width: 2px;
    
}

/********** Color Palettes **********/

/*
Nearly white for main: rgb(240,240,240)
Dark blue: rgb(29,41,81)
Pastel blue: #bcd6ff
Potential pastel gradient: linear-gradient(pink, rgb(253,253,158))

*/


/********** Test Code **********/

/*
#strawberry {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:50%;
    transform: translate(0%,-50%)
}*/
/*img{
    display: block;
    max-width: 500px;
    border: 4px rgb(0, 24, 72) solid;
    margin:0px auto;
}*/