/***************DS Portfolio Style Sheet***************/
/*************** Authored by Jack Roach ***************/
body, html{
    height: 100%;
}

body {
    margin: 0px auto;
    width: 100%;
    background-image: linear-gradient(lightblue);
    font-family: arial;
}
h1 {
    
    /*text-shadow: 0 0 2px black;*/
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    /*-webkit-text-stroke: 2px black;*/
}

/********** Sidebar **********/

#sidebar {
    margin: 0px;
    float: left;
    /*background-color: rgb(29,41,81);*/
    /*background-color: rgb(255, 250, 225);*/
    background-color: rgb(50,50,100); /*#504070*/
    width: 35%;
    height: 400%;
}

#sidebar h1 {
    text-align: center;
    color: rgb(255,255,255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 300%;
    margin-top: 10%;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /*background-color: #bcd6ff;*/
    background-color: rgb(29,41,81);
    border: 5px solid rgb(255,240,255);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 4%;
}

#intro p {
    border: 1px hidden white;
    margin: 0 auto;
    text-align: center;
    font-size: 105%;
    color: rgb(240,240,240);
    text-shadow: 1px 1px 2px black;
    transform: translate(0%,-1%)
}

/***** Sidebar Navigation *****/

nav ul {
    font-family: monospace;
    text-align: center;  
    list-style:none;
    margin-top: 30px;
    padding-left:0;
}

nav ul li {
    list-style-type: none;
    margin: 0 auto;
    display: table;
    height: 60px;
    width: 200px;
    color: white;
    text-align: center;
    font-size:30px;
    font-weight:bold;
    border: 4px solid rgb(50,50,100);
}

nav ul li:hover{
    background-color: white;
    border: 4px solid white;
    color: rgb(50,50,100);
}

nav ul li:active {
    background-color: white;
    border: 4px inset rgb(50,50,100);
}

nav ul li a {
    display: table-cell;
    vertical-align: middle;
}

nav ul li a:link, a:visited{
    text-decoration: none;
    color: white;
}

nav ul li:hover a:visited{
    text-decoration: none;
    color: rgb(50,50,100);
}

nav ul li:hover a:link{
    text-decoration: none;
    color: rgb(50,50,100);
}

/********** Main Body of the Site **********/

#main {
    margin: 0px;
    float: left;
    /*background-image: radial-gradient(greenyellow, palegreen, paleturquoise, lightblue 70%);*/
    /*background-image:linear-gradient(white,#bcd6ff,rgb(29,41,81)); /*linear-gradient(pink, rgb(253,253,158));*/
    background-color: #495f99;
    width: 65%;
    height: 400%;
}

#main h1 {
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(255,255,255);
    border-style: hidden hidden solid hidden;
    border-width: 2px;
    text-shadow: -1px 0 rgb(50,50,100), 0 1px rgb(50,50,100), 1px 0 rgb(50,50,100), 0 -1px rgb(50,50,100);
    
}

/***** Projects *****/

.project {
    margin: 50px 15% 75px 15%;
    height: 15%;
    /*border: 1px solid white;*/
    background: #f8b195;
    /* 255, 242, 181 */
    box-shadow: 12px 12px #f67280, 24px 24px 0px #c06c84;
}

.title {
    margin: 0 auto;
    border:1px solid #f8b195;
    text-align: center;
    font-family: monaco, Arial, sans-serif;
    color: rgb(29,41,81);

    height: 5em;
}

.title h2{
    margin: 15px 1em 0 1em;
    border:1px none black;
    font-size: 150%;    
}

/* To be used if I decide to add flavor images to the project elements.
.image img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 0px none blue;
    width: 47.3%;
    height: 52.8%;
}
*/

.description {
    margin:1em 3em 3em 3em;
    display: flex;
    justify-content: center;
    border: 0px none black;
    font-family: "Courier New", Courier, monospace;
    color: rgb(29,41,81);

    height: 16em;
}

.repository {
    margin-bottom:0;
    text-align: center;
    font-size:140%;
    
    height: 1.5em;
}

.repository a, .repository a:link, .repository a:visited {
    text-decoration: none;
    color: rgb(29,41,81);
}

.repository a:hover {
    text-decoration: underline;
    
}


/********** Website Footer **********/
#footer {
    margin: 0px;
    float: left;
    /*background-image: radial-gradient(greenyellow, palegreen, paleturquoise, lightblue 70%);*/
    background-color: rgb(39,41,81);
    width: 100%;
    height: 20%;
}

/********** Color Palettes **********/

/*
Dark blue: rgb(29,41,81)
Pastel blue: #bcd6ff
Potential pastel gradient: linear-gradient(pink, rgb(253,253,158))
Pastel Yellow: background: rgba(255, 250, 225, 1);
Pink and white shadow boxes: box-shadow: 10px 10px rgb(255,225,225), 20px 20px 0px white;


White text border: text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
*/

/********** Test Code **********/

/*
#strawberry {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:50%;
    transform: translate(0%,-50%)
}*/
/*img{
    display: block;
    max-width: 500px;
    border: 4px rgb(0, 24, 72) solid;
    margin:0px auto;
}*/

/*box-shadow: 10px 10px 10px 10px white;*/
/*transform: translateY(4px);*/


/* Try making it so the sidebar doesn't scroll but the main area does */