body {
    background-color: rgb(50,50,100);
}

#sidebar {
    display: block;
    width: 100%;
    height: auto; /*60%*/
    background-color: #495f99;
}

#sidebar h1 {
    background-color: rgb(50,50,100);
    padding-top:25px;
    padding-bottom:25px;
}

nav {
    display: none;
}

#main {
    display: block;
    width: 100%;
}

#main h1 {
    display: none;
}