body {
    background-color: rgb(50,50,100);
}

#sidebar {
    display: block;
    width: 100%;
    height: auto; /*60%*/
    background-color: #495f99;
}

#sidebar h1 {
    margin-top:0;
    padding-top:25px;
    padding-bottom:25px;
    background-color: rgb(50,50,100);
}

nav {
    display: none;
}

#main {
    display: block;
    width: 100%;
}

#main h1 {
    display: none;
}

.title h2{
    margin: 15px 1em 0 1em;
    border:1px none black;
    font-size: 120%;
}

.description {
    margin:1em 1em 1em 1em;
}

#footer {
    background-color: rgb(50,50,100);
}